
.title-div {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: cursive;
}

h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    margin-bottom: 9px;
}

.start-transition {
    transition-delay: 500ms;
}

.link {
    color: #0000EE;
    text-decoration: underline;
}

.link:hover {
    color: #551A8B;
    cursor: pointer;
}

.narrative-paragraph {
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#next-page-button {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

/* for any images in narrative page */
.narrative-image {
    border-radius: 10%;
    width: 350px;
    margin-bottom: 30px;
    margin-top: 30px;
}